---
layout: default
---
{% include project-header.html %}
  <article class="post">
    {% include pjt-odt-list.html %}
<h2>🛠정리중 입니다⚒</h2>
<h2 id="💡 소형 표적 추적을 위한 알고리즘 성능 개선">💡 소형 표적 추적을 위한 알고리즘 성능 개선</h2>
<p class="meta"><small>🤝🏻 팀과제 &nbsp;|&nbsp;📅 2018.03.01 ~ 2018.11.30</small></p><hr/>
  <ul>
    <li><h3>📌 주요 내용</h3></li>
      <ol>
        <li>Object Tracking Method 조사 및 알고리즘 분석</li>
        <li>직접 구현 또는 Github에서 찾은 Tracker를 실험 영상에 적용, 결과 분석</li>
      </ol>
    <br>
    <li><h3>🙋‍♀️ 팀내 역할 - 학생 연구원</h3></li>
      <ol>
        <li>Meanshift, CAMShift, Kalman Filtering을 이용한 Tracking 등의 알고리즘 분석</li>
        <li>OpenCV를 이용해 Meanshift, CAMShift Tracker 등을 구현하고 실험 영상에 적용 및 결과 분석</li>
        <li>Github의 Spatiogram+Particle Filtering 코드 분석 및 추적 성능 개선</li>
      </ol>
    <li><h3>📚 스택</h3></li>
    <img src="/assets/img/logos/odt2.png"><br><br>
    <li><h3>💻 개발 환경</h3></li>
      <img src="/assets/img/logos/os.png"><br><br>
      CPU Intel i7-6850K 3.6Hz &nbsp;&nbsp; | &nbsp;&nbsp; RAM 32GB &nbsp;&nbsp; | &nbsp;&nbsp; GPU NVIDIA Geforce GTX 1080Ti<br>
    
      
    <li><h3>🎉 결과 및 성과</h3></li>
      <ul>
        <li>논문 2편 (IPIU, ICFICE)</li>
        <li>OpenCV를 이용한 Object Tracker 개발 경험 (C++)</li>
        <br>      
      </ul>
    </ul>

