---
layout: default
---
{% include project-header.html %}

<article class="post">
  <h1 class="post-title">M/L & Big Data</h1>
  <p>머신러닝/딥러닝, 빅데이터 관련 프로젝트</p>
  <br>
  <a href="#"><span class="label label-danger light">Machine Learning</span></a>
  <a href="#"><span class="label label-danger light">Deep Learning</span></a>
  <a href="#"><span class="label label-danger">Data Analysis</span></a>
<div>
  <a href="https://joniekwon.github.io/project_stock">주식 종가 예측 모델</span></a>
  <a href="https://joniekwon.github.io/gangnam_apt">강남구 아파트 가격 예측 모델</span></a>
  <a href="https://joniekwon.github.io/wine_quality">와인 품질 예측 모델</span></a>
</div>
<h2>🛠정리중 입니다⚒</h2>
<ul>
  <li>주식 종가 예측 모델</li>
  {% include mldl-stock.html %}
  <li>강남구 아파트 가격 예측 모델</li>
  {% include mldl-gangnam.html %}
</ul>

