---
layout: default
---
{% include project-header.html %}
<article class="post">
  {% include pjt-odt-list.html %}
  <h2>프로젝트 미리보기</h2>
<ul>
  💡 환경 변화에 강인한 실시간 무인비행체 탐지/추적 알고리즘 연구<br>
  <h4>FPN Detector with afterprocessing</h4>
  <a href="https://drive.google.com/file/d/1QBTylSRgdEQJ_3u2gQ1SktTFswVpBsPD/view" target="_blank"><img src="/assets/img/projects/odt/odt_thum1.PNG"></a>
  <br>
  <br>
  💡 소형 표적 추적을 위한 알고리즘 성능 개선
  <h4>Mean-shift tracker with global motion estimation</h4>
  <a href="https://drive.google.com/file/d/1B1NMpfCp-mI0KF0R6JJ7p4Cfz-REY4XX/view?usp=sharing" target="_blank"><img src="/assets/img/projects/odt/odt_thum2.PNG"></a>
</ul>