<h1 class="post-title">마크클라우드</h1>
  <p>2022.07 ~ 2023.11 (1년 5개월), AI 엔지니어</p>
  <p>(주)마크클라우드의 대표 서비스인 유사 상표 검색 서비스 "마크뷰"의 모델 경량화 및 성능 향상 연구와 데이터 분석 및 AI 모델링 업무를 수행하였습니다.</p>
<div class="project-tags">
  <a href="#" ><span class="label label-mycolor">Pytorch</span></a>
  <a href="#"><span class="label label-mycolor">Pandas</span></a>
  <a href="#"><span class="label label-mycolor">YOLO</span></a>
  <a href="#"><span class="label label-mycolor">Triton</span></a>
  <a href="#"><span class="label label-mycolor">FastAPI</span></a>
  <a href="#"><span class="label label-mycolor">Docker</span></a>
</div>
  <br>
<div class="project_list">
  <h2>프로젝트 목록</h2>
  <ul>
    <li><a href="/experiences/nb13_pjt">7️⃣ 상표 이미지 도형 코드 검출 모델 개발 (2023.08 ~ 2023.11)</span></a></li>
    <li><a href="/experiences/train_vcode_cls_model">6️⃣ 상표 이미지 도형 코드 추천 모델 연구 및 API 개발 (2022.12 ~ 2023.03)</span></a></li>
    <li><a href="/experiences/improve_mark_search_acc">5️⃣ 유사 상표 검색 서비스 성능 개선 연구 (2023.02 ~ 2023.04)</span></a></li>
    <li><a href="/experiences/possibility_application">4️⃣ 상표 출원 가능성 판별 서비스 개발 (2023.03 ~ 2023.03)</span></a></li>
    <li><a href="/experiences/us_img_search">3️⃣ 미국 유사 상표 이미지 검색 서비스 개발 (2022.10 ~ 2022.11)</span></a></li>
    <li><a href="/experiences/yolo_for_vcode_detection">2️⃣ 상표 도형 코드 검출 YOLO 모델 개발 (2022.09 ~ 2022.12)</span></a></li>
    <li><a href="/experiences/lightweight_fmap">1️⃣ 마크뷰 검색 속도 개선을 위한 모델 경량화 (2022.07 ~ 2022.08)</span></a></li>
  </ul>
</div>
