<h1 class="post-title">Experience</h1>
  <p>2022.07 ~ 2023.11 (1년 5개월) 마크클라우드, AI 엔지니어</p>
<div class="project-tags">
  <a href="#" ><span class="label label-mycolor">Pytorch</span></a>
  <a href="#"><span class="label label-mycolor">Pandas</span></a>
  <a href="#"><span class="label label-mycolor">YOLO</span></a>
  <a href="#"><span class="label label-mycolor">Triton</span></a>
  <a href="#"><span class="label label-mycolor">FastAPI</span></a>
  <a href="#"><span class="label label-mycolor">Docker</span></a>
</div>
  <br>
<div class="project_list">
  <h2>프로젝트 상세</h2>
  <ul>
    <li><a href="/projects/train_vcode_cls_model">[마크클라우드] 상표 도형 코드 추천 모델  연구 및 API 개발</span></a></li>
    <li><a href="/projects/improve_mark_search_acc">[마크클라우드] 유사 상표 검색 서비스 성능 개선 연구</span></a></li>
    <li><a href="/projects/possibilty_application">[마크클라우드] 상표 출원 가능성 판별 서비스 개발</span></a></li>
    <li><a href="/projects/us_img_search">[마크클라우드] 미국 유사 상표 이미지 검색 서비스 개발</span></a></li>
    <li><a href="/projects/yolo_for_vcode_detection">[마크클라우드] 상표 도형 코드 검출 YOLO 모델 개발</span></a></li>
    <li><a href="/projects/lightweight_fmap">[마크클라우드] 유사 상표 검색 서비스 속도 개선 연구</span></a></li>
  </ul>
</div>
