<div>
  <h1 class="post-title">M/L & Big Data</h1>
    <p>머신러닝/딥러닝, 빅데이터 관련 프로젝트</p>
    <br>
    <a href="#"><span class="label label-danger light">Machine Learning</span></a>
    <a href="#"><span class="label label-danger light">Deep Learning</span></a>
    <a href="#"><span class="label label-danger">Data Analysis</span></a>
    <a href="#"><span class="label label-danger">python</span></a>
    <a href="#"><span class="label label-danger">pandas</span></a>
    <a href="#"><span class="label label-danger">matplotlib</span></a>
</div>