<h1 class="post-title">Object Detection / Tracking</h1>
  <p>객체 탐지 및 추적 관련 프로젝트</p>
  <div class="project-tags">
    <a href="#"><span class="label label-success">Computer Vision</span></a>
    <a href="#"><span class="label label-success">ML/DL</span></a>
    <a href="#"><span class="label label-success">Object Detection</span></a>
    <a href="#"><span class="label label-success">Object Tracking</span></a>
  </div>
  <br>
  <div class="project_list">
    <h2>프로젝트 목록</h2>
    <ul>
      <li><a href="/projects/odt_1">💡 환경 변화에 강인한 실시간 무인비행체 탐지/추적 알고리즘 연구</span></a></li>
      <li><a href="/projects/odt_2">💡 소형 표적 추적을 위한 알고리즘 성능 개선</span></a></li>
    </ul>
  </div>
