<h1 class="post-title">Data Visualize</h1>
  <p>데이터 시각화</p>
  <div class="project-tags">
    <a href="#"><span class="label label-default">Data Visualize</span></a>
    <a href="#"><span class="label label-default">Web Crawling</span></a>
    <a href="#"><span class="label label-default">Geo Mapping</span></a>
    <a href="#"><span class="label label-default">DATABASE</span></a>
  </div>
  <br>
  <div class="project_list">
    <h2>프로젝트 목록</h2>
    <ul>
      <li><a href="/projects/crawling">🌎 웹 크롤링</span></a></li>
      <li><a href="/projects/word_cloud">💬 워드 클라우드</span></a></li>
      <li><a href="/projects/map_data">🗺 지리 데이터</span></a></li>    
    </ul>
  </div>
