<h1 class="post-title">Data Analysis</h1>
  <p>데이터 크롤링 / 전처리 / 시각화 / 데이터 분석</p>
  <div class="project-tags">
    <a href="#"><span class="label label-default">Web Crawling</span></a>
    <a href="#"><span class="label label-default">Preprocessing</span></a>
    <a href="#"><span class="label label-default">Visualize</span></a>    
    <a href="#"><span class="label label-default">Geo Mapping</span></a>
    <a href="#"><span class="label label-default">Data Anaysis</span></a>
    <a href="#"><span class="label label-default">DATABASE</span></a>
  </div>
  <br>
  <div class="project_list">
    <h2>프로젝트 상세</h2>
    <ul>
      <li><a href="/projects/word_cloud">💬 영문 분석 및 시각화 : 'Detection' & 'Deep Learning'</span></a></li>
      <li><a href="/projects/word_cloud2">💬 한글 분석 및 시각화 : '4차 산업혁명' </span></a></li>
      <li><a href="/projects/puradak">🗺 크롤링 & 지도 맵핑 : '푸라닭' 입지 전략 분석</span></a></li>
      <li><a href="/projects/sc">🗺 블록 맵 : 행정구역 별 선별진료소 수 파악</span></a></li>
    </ul>
  </div>
