<h1 class="post-title">M/L & Big Data</h1>
  <p>머신러닝/딥러닝, 빅데이터 관련 프로젝트</p>
<div class="project-tags">
  <a href="#" ><span class="label label-mycolor">Machine Learning</span></a>
  <a href="#"><span class="label label-mycolor">Deep Learning</span></a>
  <a href="#"><span class="label label-mycolor">Data Science</span></a>
  <a href="#"><span class="label label-mycolor">Regression</span></a>
  <a href="#"><span class="label label-mycolor">classification</span></a>
  <a href="#"><span class="label label-mycolor">WebCrawling</span></a>
</div>
  <br>
<div class="project_list">
  <h2>프로젝트 목록</h2>
  <ul>
    <li><a href="/projects/stock_close">📉 주식 종가 예측</span></a></li>
    <li><a href="/projects/gangnam_apt">🏙 강남구 아파트 가격 예측</span></a></li>
    <li><a href="/projects/wine_quality">🍷 와인 품질 분류</span></a></li>
  </ul>
</div>  